# --- Python Internals ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment ---
.venv/
venv/
env/

# --- IDE / Editor Settings ---
.vscode/
.idea/
*.swp

# --- OS Metadata ---
.DS_Store
Thumbs.db

# --- Project Specific  ---
# Dataset baixado
data/

# Resultados da geração
results/

# 1. Ignora tudo na pasta checkpoints por segurança
checkpoints/*

# 2. Abre exceção APENAS para os modelos finais
!checkpoints/dcgan_model_final.pth
!checkpoints/sr_generator_finetuned.pth

# Se houver arquivos de log soltos
*.log